<h1>Comunidad UNAB</h1>

<%= link_to 'Ver Listado de Cursos', controller: 'clases' %><br/>
<%= link_to 'Ver Listado de Alumnos', controller: 'alumnos' %><br/>
<%= link_to 'Ver Listado de Profesores', controller: 'profesors' %>
